#myBtn {
    display: none;
    position: fixed;
    bottom: 4%;
    right: 3%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #666;
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 4px;
}