@mixin bg-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: contain;   
    
}

/* @mixin titulos-h1 {
    font-family: ;
    
} */