.banner {
    @include bg-img();
    background-image: url('/images/moto-inicio2.png');
    background-color: $color-topo;
    height: 90vh;

    position: relative;


    &__titulos {
        padding-top: 25vh;

        &__h1 {
            font-size: 10em;
            color: #fff;
            text-transform: uppercase;
        }

        &__h3 {
            font-style: italic;
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
            padding: 0 0 20px 0;
        }

    }
}