.banner {
    @include bg-img();
    background-image: url('/images/IMG_0963.jpg');
    background-color: $color-topo;
    height: 95vh;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.503);
        z-index: 1;
        /* box-shadow: inset -20px -20px 50px #000, inset -10px -20px 100px #000; */
        /* inset -50px -100px 250px #000; */
    }


    &__titulos {
        transform: translateY(100%);
        /* padding-top: 35vh; */
        position: relative;
        z-index: 2;


        &__h1 {
            font-size: 5em;
            color: #fff;
            text-transform: uppercase;

        }

        &__h3 {
            font-style: italic;
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
            padding: 0 0 20px 0;
        }

    }
}