.carousel {
    &__contenedor {
        position: relative;
    }

    &__siguiente,
    &__anterior {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        top: calc(50% - 35px);
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        background: none;
        color: #fff;
        opacity: 20%;
    }

    &__anterior {
        left: -30px;
    }

    &__siguiente {
        right: -30px;
    }

    &__img {
        height: 100px;
        width: 100px;
    }
}