.footer {
    background-color: $color-topo;
    height: 100px;


    &__copyright {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 6rem;

        &__txt {
            color: $color-grisClaro;
            font-size: 1rem;
            padding-bottom: 5px;

            &--fjt {
                font-size: 1rem;
                padding-top: 5px;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .footer {
        &__copyright {

            &__txt {
                font-size: 1.5rem;

                &--fjt {
                    font-size: 1.25rem;
                }

            }
        }
    }
}