.header {
    z-index: 100;
    width: 100%;
    position: fixed;
}

.logo {
    padding: 15px;

    &__img {
        width: 100px;
    }
}

.hamb__icon {
    display: none;
    color: #fff;
}

.menu {
    display: none;
}

.redes {
    display: none;
}